{% extends 'base.html' %}

{% block content %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Checking Fraud Data</h3>
							<h6>{{ status }}</h6>
							<div class="panel-body">
								<form action="/" method="post" enctype="multipart/form-data" name="getdataform" id="getdataform">
								{% csrf_token %}
								{{ form }}
								<div class="row">
									<div class="col-md-8 ">
										<select  multiple="multiple" class="form-control js-example-basic-multiple" name="media_sources" id="media_sources">
											{% for media in media_source %}
											<option value="{{ media }}">{{ media }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-4">
										<a href="alldata/">
											<h4>Check All Data</h4>
										</a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<h4>Start Date</h4>
										<input type="date" name="start_date" id="start_date">
									</div>
									<div class="col-md-4">
										<h4>End Date</h4>
										<input type="date" name="end_date" id="end_date">
									</div>
									<div class="col-md-4">
										<input type="submit" form="getdataform" class="btn btn-primary"/>
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->

					{% if status%}
					<div class="row">
							<div class="col-md-12">
								{% if form.errors %}
									{% for field in form %}
										{% for error in field.errors %}
											<div class="alert alert-danger alert-dismissible" role="alert">
												<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<i class="fa fa-times-circle"></i> {{ error|escape }}
											</div>
										{% endfor %}
									{% endfor %}
									{% for error in form.non_field_errors %}
										<div class="alert alert-danger alert-dismissible" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<i class="fa fa-times-circle"></i> {{ error|escape }}
										</div>
									{% endfor %}
								{% endif %}
								<!-- RECENT PURCHASES -->
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">Fraud Data</h3>
										<div class="right">
											<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
											<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
										</div>
									</div>
									<div class="panel-body no-padding">
										<div class="col-md-3">
											<div class="metric">
												<span class="icon"><i class="fa fa-times"></i></span>
												<p>
													<span class="number">{{bad_percentage}}</span>
													<span class="title">Fraud</span>
												</p>
											</div>
										</div>
										<div class="col-md-3">
											<div class="metric">
												<span class="icon"><i class="fa fa-check-circle"></i></span>
												<p>
													<span class="number">{{good_percentage}}</span>
													<span class="title">Not Fraud</span>
												</p>
											</div>
										</div>
									</div>
									<div class="panel-footer">
										<div class="row">
											<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 24 hours</span></div>
											<div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a></div>
										</div>
									</div>
								</div>
								<!-- END RECENT PURCHASES -->
							</div>
					</div>
					{% endif %}

					{% if error %}
					<div class="row">
							<div class="col-md-12">
								<!-- START ERROR -->
								<div class="panel">
									<div class="alert alert-danger alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<i class="fa fa-times-circle"></i> {{ error }}
									</div>
								</div>
								<!-- END ERROR -->
							</div>
					</div>
					{% endif %}
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
{% endblock %}