{% extends 'base.html' %}

{% block content %}
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-8 ">
									<h3 class="panel-title">Checking Fraud Data</h3>
									<select class="form-control">
										{% for i,data in media_source.itertuples %}
										<option value="{{ data }}">{{ data }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<h4>Start Date</h4>
									<input type="date" name="startday">
								</div>
								<div class="col-md-4">
									<h4>End Date</h4>
									<input type="date" name="endday">
								</div>
								<div class="col-md-4">
									<input type="submit" value="Submit">
								</div>
							</div>
						</div>
					</div>
					<!-- END OVERVIEW -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
{% endblock %}